{{head}}
    <body>
        <section class="title">Send message for me!</section>
		<section class="header">
			{{greeting}}<br/>
			<a href="index.pp">Return TopPage</a>
		</section>
        <form method="post" action="/home.pp">
		
		<section class="contents1" style="width:600px;" stype="right:0px">
        <table>
            <tr>
            <th class="input">名前：</th>
            <td class="input"><input type="text" name="name" value="{{userName}}" readonly="true" /></td>
            </tr>
            <tr>
            <th class="input">メッセージ：</th>
            <td class="input"><textarea name="msg"></textarea></td>
            </tr>
            <tr><th></th>
            <td><input type="submit" value="送信" /></td></tr>
        </table>
		</section>

        </form>
		<section class="contents3" style="width:300px;">
			{{table}}
		</section>
    </body>
</html>