{{head}}
    <body>
        <h1>Hiro's Test Page!</h1>
		
		<section style="width:600px;" stype="right:0px">
			<h2>This page is ...</h2>
			<div class="layout">
				<h3>
					This page is my test page.<br/>
					And this page has purpose as self-introduction.<br/>
					I study English,HTML5,PYTHON now.<br/>
					I try to make page in English.<br/>
					It is very difficult.<br/>
				</h3>
				<img src="/images/icon/setting.png" />
			</div>
		</section>
		<hr>
		<section style="width:600px;" stype="right:0px">
			<h2>Do you have google Account?</h2>
			<div class="layout">
				<img src="/images/icon/setting.png" />
				<h3>
					You need to Google Account!
					It is free accoun,and 
				</h3>
				
			</div>
		</section>
        <p>{{greeting}}</p>
    </body>
</html>