{{head}}
    <body>
        <section class="title">Hiro's Test Page!</section>
        <section class="header">{{greeting}}</section>
		
		<section class="contents1" style="width:600px;" stype="right:0px">
			<h2>This page is ...</h2>
			<div class="layout">
				<h3>
					This page is my test page.<br/>
					And this page has purpose as self-introduction.<br/>
					I study English,HTML5,PYTHON now.<br/>
					I try to make page in English.<br/>
					This is my face→
				</h3>
				<img src="/images/toppage/daruma.jpf" />
			</div>
		</section>
		
		<section class="contents2" style="width:600px;">
			<h2>It links to my contents!</h2>
			<div class="layout">
				<h3>
					<ul>
						<li>
							<a target="_blank" href ="http://ameblo.jp/copybear/">Ameba BLOG</a>
						</li>
						<li>
							<a target="_blank" href="http://gallery.nikon-image.com/191476691/albums/2716385/">My Picture</a>			
						</li>
						<li>
							{{send}}
						</li>
						<li>
							Create DDL(Oracle)
						</li>
					</ul>
					
				</h3>
				<img src="/images/toppage/tori.jpf" />
			</div>
		</section>
		<section class="contents3" style="width:300px;">
			{{table}}
		</section>
    </body>
</html>